/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url('components/features.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
/* Custom design below! */

.btn-primary {
  display: inline-block;
  background-color: #ee9b00;
  padding: 16px 28px;
  border-radius: 25px;
  color: white;
  margin-top: 16px;
  font-weight: bold;
}

.btn-primary:hover {
  opacity: 1;
  background: #ae2012;
  text-decoration: none;
  color: white;
}
.banner{
  background-image: url(../images/clothing.png);
  color: white;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}

.container{
  width: 1000px;
  margin: auto;
}

.features{
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.card {
width: 250px;
border-radius: 3px;
box-shadow: 0 0 5px rgb(230,230,230);
text-align: center;
padding: 20px;
border: 1px solid rgb(230,230,230);
}

.card img{
  width: 200px;
}

.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
}

.footer a {
  font-size: 30px;
  color:  #ee9b00;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}

.ban{
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.ban img{
  width: 300px;
}
